{% extends 'adminbase.html.twig' %}

{% block title %}{{ parent() }} - ركن الأبراج{% endblock %}

{% block body %}
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#general").removeClass("active");
            $("#horo").addClass("active");
        });
    </script>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" >
        <h1 class="page-header text-right">ركن الأبراج</h1>

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success text-right">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="alert alert-warning text-right">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('danger') %}
            <div class="alert alert-danger text-right">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active pull-right"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Horoscopes</a></li>
            </ul>
            <br/>
            <!-- Tab panes -->
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="profile">
                    <!-- Start Gestion Articles Horo Partie  -->
                    <div class="page-header row text-right">
                        <div class="col-xs-12">
                            <div class="col-md-2 col-xs-12 pull-right">
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a href="{{ path('jamilati_admin_horo_addarticle')}}">
                                    <button type="button" class="btn btn-primary">
                                        idafa
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </a>
                                {% endif %}
                            </div>

                            <div class="col-md-10 col-xs-12">
                                {% block form2 %}
                                {% endblock %}
                            </div>

                        </div>
                    </div>
                    {% if articlehoro %}
                        <div class="table-responsive" dir="rtl">
                            <table class="table table-striped" >
                                <thead>
                                <tr>
                                    <th class="text-right"> #</th>
                                    <th class="text-right">Libellé</th>
                                    <th class="text-right">Description</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for article in articlehoro|sort %}
                                    <tr>
                                        <td>{{ article.id }}</td>
                                        <td>{{ article.name }}</td>
                                        <td>{{ article.content }}</td>
                                        <td>
                                            <a href="{{ path('jamilati_admin_horo_editarticle', {'id': article.id}) }}">
                                                <button type="button" title="Modifier" class="btn btn-info btn-sm">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </button>
                                            </a>
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <a href="{{ path('jamilati_admin_horo_removearticle', {'id': article.id}) }}">
                                                <button type="button" title="Supprimer" class="btn btn-danger btn-sm">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="alert alert-warning text-right">
                            La youjade ay ma9al
                        </div>
                    {% endif %}
                    <!-- End Gestion Articles Horo Partie  -->
                </div>
            </div>
        </div>



    </div>
{% endblock %}