{% extends 'AppBundle:Frontoffice:index.html.twig' %}

{% block REF %}
    <meta name="keywords" content="جميلتي, فيديوهات ">
    <meta name="description" content="الفيديوهات هي فقرة من فقرات مجلة جميلتي. تجدون بهذه الصفحة جميع المقلات المتخصصة بالفيديوهات" />
{% endblock %}

{% block title %} - فيديوهات {{ parent() }}{% endblock %}

{% block noloader %}{% endblock %}
{% block loader %}{% endblock %}

{% block Articles %}
     <style>
         .filter-button
         {
             font-family: 'Changa', sans-serif;
             font-weight: bold;
             font-size: 18px;
             border: 1px solid #DB0000;
             border-radius: 5px;
             text-align: center;
             color: #DB0000;
             margin-bottom: 30px;

         }
         .filter-button:hover
         {
             font-size: 18px;
             border: 1px solid #DB0000;
             border-radius: 5px;
             text-align: center;
             color: #ffffff;
             background-color: #DB0000;

         }
         .btn-default:active .filter-button:active
         {
             background-color: #DB0000;
             color: white;
         }


         .gallery_product
         {
             padding: 2px;

         }
         .gallery_product img{
             width: 98%;
             border: 1px solid #DB0000;
             border-radius: 2px;
         }

         a .gallery_product:hover{
             opacity: 0.8;
             border: 1px solid #DB0000;
             border-radius: 5px;
         }
         .caption {
             position:absolute;
             top:0;
             right:0;
             background: #DB0000;
             width:100%;
             height:100%;
             padding:2%;
             display: none;
             text-align:center;
             font-family: 'Changa', sans-serif;
             color:#fff !important;
             z-index:2;
         }
         .navigation{
             font-family: 'Changa', sans-serif;
         }

         .pagination>.active>span, .pagination>.active>span:hover{
             background-color: #DB0000;
             border-color: #DB0000;
         }

         .pagination>.disabled>span{
             color: #000;
             border-color: #000;
         }
         .pagination>li>a{
             color: #DB0000;
             border: 1px solid #000;
         }
         .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
             color: #FFFFFF;
             background-color: #DB0000;
             border-color: #000;
         }
     </style>
     <div class="row">
         <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
             <h2 class="titrevideos"> فيديوهات جميلتي </h2>
         </div>

         {% block view_article %}{% endblock %}

         <div align="center">
             <button class="btn btn-default filter-button" data-filter="all">All</button>
             {% if catvideo %}
                 {% for category in catvideo %}
                     <button class="btn btn-default filter-button" data-filter="{{ category.id }}">{{ category.lib }}</button>
                 {% endfor %}
             {% else %}
                 <div class="alert alert-warning text-right">
                     <p>لا يوجد أي محتوى</p>
                 </div>
             {% endif %}
         </div>
         <br/>

         {% if pagination %}
             {% for article in pagination %}
                 <a href="{{ path('jamilati_videopage_view', {'id':article.id}) }}">
                     <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-4 filter {{ article.catvideo.id }}">
                         <div class="caption">
                             <h4>{{ article.titre }}</h4>
                             <p>{{ article.content1[:25] }}</p>
                         </div>
                         <iframe src="{{ article.url }}" frameborder="1" allowfullscreen width="215"></iframe>
                     </div>
                 </a>
             {% endfor %}


         {% else %}
             <div class="alert alert-warning text-right">
                 <p>لا يوجد أي محتوى</p>
             </div>
         {% endif %}
         <br/>

     </div>
     {# display navigation #}
     <div class="navigation" align="center">
         {{ knp_pagination_render(pagination) }}
     </div>
     <hr class="endvideos" />
     <br />
{% endblock %}

{% block Myjavascript %}
<script>
    window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.12.0.min.js"><\/script>')
</script>
<script>
    $(window).load(function(){
        if((navigator.userAgent.indexOf("Chrome") >= 0) || (navigator.userAgent.indexOf("OS") >= 0)){
            var assetstyle = "/assets/css/style.css";
            var assetresponsive = "/assets/css/responsive.css";
            $("#csslink").attr("href", assetstyle);
            $("#responsivelink").attr("href", assetresponsive);
            $('#contentprincipal').fadeIn(1000);
        } else if(navigator.userAgent.indexOf("Firefox") >= 0){
            var assetstyle = "/assets/css/style.css";
            var assetresponsive = "/assets/css/responsive.css";
            $("#csslink").attr("href", assetstyle);
            $("#responsivelink").attr("href", assetresponsive);
            $('#contentprincipal').fadeIn(1000);
        } else {
           alert("Votre navigateur est inadéquat veuillez accéder à notre site via l'un de ces navigateurs (Google Chrome, Mozilla Firefox ou Opera) !");
           $(".loadersection #message").text("جميلتي تشكركم على زيارتكم ٠٠٠");
           $('.loadersection').fadeIn(1000);
        }
    });
</script>
{% endblock %}