{% extends 'adminbase.html.twig' %}

{% block title %}{{ parent() }} - أخبار{% endblock %}

{% block body %}
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#general").removeClass("active");
            $("#news").addClass("active");
        });
    </script>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" >
        <h1 class="page-header text-right">ركن الأخبار</h1>

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success text-right">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="alert alert-warning text-right">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('danger') %}
            <div class="alert alert-danger text-right">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active pull-right"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Catégorie News</a></li>
                <li role="presentation" class="pull-right"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Articles</a></li>
            </ul>
            <br/>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <!-- Start Gestion Catégories News Partie  -->
                    <div class="page-header row text-right">
                        <div class="col-xs-12">
                            <div class="col-md-2 col-xs-12 pull-right">
                                <a href="{{ path('jamilati_admin_news_addcat')}}">
                                    <button type="button" class="btn btn-primary">
                                        idafa
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </a>
                            </div>

                            <div class="col-md-10 col-xs-12">
                                {% block form %}
                                {% endblock %}
                            </div>

                        </div>
                    </div>
                    {% if catnew %}
                        <div class="table-responsive" dir="rtl">
                            <table class="table table-striped" >
                                <thead>
                                <tr>
                                    <th class="text-right"> #</th>
                                    <th class="text-right">Intitulé</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cat in catnew|sort %}
                                    <tr>
                                        <td>{{ cat.id }}</td>
                                        <td>{{ cat.lib }}</td>
                                        <td>
                                            <a href="{{ path('jamilati_admin_news_editcat', {'id': cat.id}) }}">
                                                <button type="button" title="Modifier" class="btn btn-info btn-sm">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </button>
                                            </a>
                                            <a href="{{ path('jamilati_admin_news_removecat', {'id': cat.id}) }}">
                                                <button type="button" title="Supprimer" class="btn btn-danger btn-sm">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="alert alert-warning text-right">
                            La youjade ay ma9al
                        </div>
                    {% endif %}
                    <!-- End Gestion Catégories news Partie  -->
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    <!-- Start Gestion Articles News Partie  -->
                    <div class="page-header row text-right">
                        <div class="col-xs-12">
                            <div class="col-md-2 col-xs-12 pull-right">
                                <a href="{{ path('jamilati_admin_news_addarticle')}}">
                                    <button type="button" class="btn btn-primary">
                                        idafa
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </a>
                            </div>

                            <div class="col-md-10 col-xs-12">
                                {% block form2 %}
                                {% endblock %}
                            </div>

                        </div>
                    </div>
                    {% if articlenew %}
                        <div class="table-responsive" dir="rtl">
                            <table class="table table-striped" >
                                <thead>
                                <tr>
                                    <th class="text-right"> #</th>
                                    <th class="text-right">Titre</th>
                                    <th class="text-right">Auteur</th>
                                    <th class="text-right">Date</th>
                                    <th class="text-right">Publication</th>
                                    <th class="text-right">Catégorie</th>
                                    <th class="text-right">Cover</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for article in articlenew %}
                                    <tr>
                                        <td>{{ article.id }}</td>
                                        <td>{{ article.titre }}</td>
                                        <td>{{ article.user }}</td>
                                        <td>{{ article.date|date("d/m/Y") }}</td>
                                        <td>
                                            {% if article.isPublished == 0 %}
                                                <span class="label label-warning">Non Publié</span></h3>
                                            {% else %}
                                                <span class="label label-success">Publié</span></h3>
                                            {% endif %}
                                        </td>
                                        <td>{{ article.catnews.lib }}</td>
                                        <td><img src="{{ asset('uploads/News/Cover/'~article.filename) }}"  width="75"></td>
                                        <td>
                                            {% if article.isPublished == 0 %}
                                                <a href="{{ path('jamilati_admin_news_editarticle', {'id': article.id}) }}">
                                                    <button type="button" title="Modifier" class="btn btn-info btn-sm">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                    </button>
                                                </a>
                                                <a href="{{ path('jamilati_admin_news_removearticle', {'id': article.id}) }}">
                                                    <button type="button" title="Supprimer" class="btn btn-danger btn-sm">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </a>
                                                <a href="{{ path('jamilati_admin_news_publish', {'id': article.id}) }}">
                                                    <button type="button" title="Publier" class="btn btn-success btn-sm">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </button>
                                                </a>
                                            {% else %}
                                                <a href="{{ path('jamilati_admin_news_unpublish', {'id': article.id}) }}">
                                                    <button type="button" title="Enlever Publication" class="btn btn-warning btn-sm">
                                                        <span class="glyphicon glyphicon-eye-close"></span>
                                                    </button>
                                                </a>
                                            {% endif %}
                                            <a href="#">
                                              <button type="button" data-toggle="modal" data-target="#article-{{ article.id }}" title="Afficher" class="btn btn-primary btn-sm">
                                                <span class="glyphicon glyphicon-sunglasses"></span>
                                              </button>
                                            </a>
                                        </td>
                                    </tr>

                                    <!--------------------Afficher Article Modal-------------------------------------->
                                    <div id="article-{{ article.id }}" class="modal fade" role="dialog">
                                      <div class="modal-dialog modal-lg">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" style="float: left;" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">{{ article.titre }}</h4>
                                          </div>
                                          <div class="modal-body">
                                            <div class="row article">
                                              <div class="col-md-12">
                                                <h1 align="center" class="article-titre">{{ article.titre }}</h1>
                                                <img src="{{ asset('uploads/News/Cover/'~article.filename) }}" alt="{{ article.filename }}" class="img-responsive" style="padding: 0 35px;"/>
                                                <br />
                                                <div>
                                                  <div class="pull-left">
                                                    <span class="label label-news" dir="rtl">{{ article.date|date('d-m-Y') }}</span>  
                                                  </div>
                                                  <div class="pull-right">
                                                    <span class="label label-news" dir="rtl">حرر من طرف {{ article.user }}</span>
                                                  </div>
                                                </div>
                                                <br />
                                                <br />
                                                <p>{{ article.content1|nl2br }}</p>
                                                <br />
                                                {% if article.content2 %}<p>{{ article.content2|nl2br }}</p><br />{% endif %}
                                                {% if article.content3 %}<p>{{ article.content3|nl2br }}</p><br />{% endif %}
                                                <ul class="list">
                                                  {% if article.listcontent1 %}
                                                    <li class="list-item"><b>{{ article.listtitre1 }} :</b> {{ article.listcontent1 }} </li>
                                                  {% endif %}
                                                  {% if article.listcontent2 %}
                                                    <li class="list-item"><b>{{ article.listtitre2 }} :</b> {{ article.listcontent2 }} </li>
                                                  {% endif %}
                                                  {% if article.listcontent3 %}
                                                    <li class="list-item"><b>{{ article.listtitre3 }} :</b> {{ article.listcontent3 }} </li>
                                                  {% endif %}
                                                </ul>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="alert alert-warning text-right">
                            La youjade ay ma9al
                        </div>
                    {% endif %}
                    <!-- End Gestion Articles News Partie  -->
                </div>
            </div>
        </div>



    </div>
{% endblock %}